@model List<Question>

@{
    ViewBag.Title = "Questions";
}

@section ScriptSection {

    <script>
        function ConfirmDelete() {
            if (confirm("Are you sure you want to delete?") == false) {
                event.preventDefault();
                event.stopPropagation();
                return false;

            }
        }

    </script>
}

<h2>Question Bank</h2>

<span style="color:red">@TempData["Msg"]</span>
<br />
<p>
    <a asp-controller="Questions" asp-action="Create">Create New Question</a>
</p>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Question</th>
        <th>Topic</th>
        <th>Option 1</th>
        <th>Option 2</th>
        <th>Option 3</th>
        <th>Option 4</th>
        <th>Correct Answer</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.QuestionId
            </td>
            <td>
                @item.Questions
            </td>
            <td>
                @item.Topic
            </td>
            <td>
                @item.FirstOption
            </td>

            <td>
                @item.SecondOption
            </td>

            <td>
                @item.ThirdOption
            </td>

            <td>
                @item.FourthOption
            </td>

            <td>
                @item.CorrectAns
            </td>

            <td>
                <a asp-action="Update" asp-route-id="@item.QuestionId" onclick="return ConfirmUpdate()">Update</a>
                <a asp-action="Delete" asp-route-id="@item.QuestionId" onclick="return ConfirmDelete()">Delete</a>

            </td>
        </tr>
    }
</table>