@model List<Result>

@{
    ViewBag.Title = "Results";
    var a = Int32.Parse(ViewData["QuizId"].ToString());
}

<h2>Reports</h2>

<span style="color:red">@TempData["Msg"]</span>
<br />
<a asp-action="exportExcel" asp-route-id="@a">Export to excel</a>
<table class="table">
    <tr>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Paper</th>
        <th>Score</th>
        <th>Attempted</th>
    </tr>

    @foreach (var item in Model)


    {
        <tr>
            <td>
                @item.AccountId
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Title
            </td>
            <td>
                @item.Score
            </td>
            <td>
                @item.Attempt
            </td>
        </tr>
    }
</table>
