@model List<Question>

@{
    ViewBag.Title = "Quiz";
}

<div class="row">
    <div class="col-6">
        <form asp-controller="Quiz" asp-action="Attempt" method="post" class="form-horizontal" role="form">
            <div class="form-horizontal">
                @foreach (var item in Model)
                {
                    
                    <p>
                        @item.Questions
                    </p>
                    <div class="form-group row">
                        <div class="col-8">
                            <input type="radio" id="rdColor1"  value="@item.FirstOption" checked="checked" /> @item.FirstOption
                            <input type="radio" id="rdColor2"  value="@item.SecondOption" /> @item.SecondOption
                            <input type="radio" id="rdColor3"  value="@item.ThirdOption" /> @item.ThirdOption
                            <input type="radio" id="rdColor4"  value="@item.FourthOption" /> @item.FourthOption
                        </div>
                    </div>
                }
                </div>
        </form>
    </div>
</div>