@model List<Question>

@{
    ViewBag.Title = "Quiz";
    int x = 1;

}

@section ScriptSection { //countdown timer for attempt

    <script>
        function CountdownTimer() {
            if (confirm("Are you sure you want to delete?") == false) {
                event.preventDefault();
                event.stopPropagation();
                return false;

            }
        }

    </script>
}



<div class="row">
    <div class="col-6">

        <form asp-controller="Quiz" asp-action="Attempt" method="post" class="form-horizontal" role="form">
            <div class="form-horizontal">
                <input type="hidden" id="QuizId" name="QuizId" value="@ViewData["quizid"]" />@ViewData["quizid"]
                @foreach (var item in Model)
                {

                    <div class="form-group" id="@("testdiv" +x)">
                        <p>
                            Question @x: @item.Questions
                        </p>
                        <div class="col-12">
                            <input type="radio" id="rdOption1" value="@item.FirstOption" name="@("Answer" +x)" /> @item.FirstOption
                            <input type="radio" id="rdOption2" value="@item.SecondOption" name="@("Answer" +x)" /> @item.SecondOption
                            <input type="radio" id="rdOption3" value="@item.ThirdOption" name="@("Answer" +x)" /> @item.ThirdOption
                            <input type="radio" id="rdOption4" value="@item.FourthOption" name="@("Answer" +x)" /> @item.FourthOption
                        </div>



                    </div>
                    x++;
                    <br />
                }
            </div>
            <div class="form-group row">
                <div class="offset-sm-4 col-8">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>

        </form>
    </div>
</div>