@model List<Quiz>

@{
    ViewBag.Title = "Report";
}

<h2>Quiz</h2>

<span style="color:red">@TempData["Msg"]</span>
<br />

<table class="table">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Topic</th>
        <th>Exam Level</th>
        <th>Exam Date</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.QuizId
            </td>
            <td>
                @item.Title
            </td>
            <td>
                @item.Topic
            </td>
            <td>
                @item.Sec
            </td>
            <td>
                @item.Dt
            </td>
            @if (User.IsInRole("Admin"))//use && then check if the date of the paper has passed yet
             {
               <!--<td>
                <a asp-action="ViewReport" asp-route-id="">View Results</a>
               </td>-->
             }
            @if (User.IsInRole("Admin"))//use && then check if the date of the paper is more then current date
             {
               <!--<td>
                <a asp-action="QuestionIndex" asp-route-id="">View Questions</a>
               </td>-->
             }
            @if (User.IsInRole("Admin"))//use && then check if the date of the paper is ON current date
             {
               <!---->
             }
            <td>
                <a asp-action="Attempt" asp-route-id="">Start Quiz</a>
            </td>
            
        </tr>
    }
</table>