@model List<Quiz>

@foreach (var item in Model)
    if (item.Topic == 1)
    {
        <div class="container">
            <div class="row">


                <div class="col-md-8">
                    <h2>Title: @item.Title</h2><br />
                    <h2>Topic: @item.TopicNavigation.Name</h2><br />
                    <h2>Test Duration: @item.Duration Minutes </h2><br />

                </div>

            </div>
        </div>





        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-12">

                <div>
                    <h5>Before you begin, please read the following instructions carefully.</h5>
                    <h5>It is recommended that you review all your answers before submitting them.</h5>
                    <br />
                </div>
            </div>
        </div>




        <h5>Part I Grammar </h5>
        <h5></h5>
        <ul>

            <li>For Questions 1 - 10, choose the most suitable answer and select the radio button provided.</li>
        </ul>

        <h5>Part II Vocabulary</h5>
        <ul>

            <li>For Questions 11 - 20, choose the most suitable answer and select the radio button provided.</li>
        </ul>

        <h5>Part IV Comprehension</h5>
        <ul>

            <li>Read the passage carefully. Answer the questions that follow. Select the correct answer based on the radio buttons provided.</li>
        </ul>



    }


    else if (item.Topic == 2)
    {
        <div class="container">
            <div class="row">


                <div class="col-md-8">
                    <h2>Title: @item.Title</h2><br />
                    <h2>Topic: @item.TopicNavigation.Name</h2><br />
                    <h2>Test Duration: @item.Duration Minutes </h2><br />

                </div>

            </div>
        </div>




        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-12">

                <div>
                    <h5>Before you begin, please read the following instructions carefully.</h5>
                    <h5>It is recommended that you review all your answers before submitting them.</h5>
                    <br />
                </div>
            </div>
        </div>


        <h2>Paper 1</h2>
        <ul>
            <li>For  each  question,  select the number corresponding to the correct option in the radio button provided.</li>
        </ul>

        <h2>Paper 2</h2>
        <h5>Section 1-Short answer questions</h5>
        <ul>

            <li>Answer all questions. Write the answer in the space provided.Show all working clearly.</li>
        </ul>

        <h5>Section 2–Open-Ended Questions</h5>
        <ul>

            <li>Answer all questions. Write the answer in the space provided.Show all working clearly.</li>
        </ul>


    }

    else if (item.Topic == 3)
    {
        <div class="container">
            <div class="row">


                <div class="col-md-8">
                    <h2>Title: @item.Title</h2><br />
                    <h2>Topic: @item.TopicNavigation.Name</h2><br />
                    <h2>Test Duration: @item.Duration Minutes </h2><br />

                </div>

            </div>
        </div>




        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-12">

                <div>
                    <h5>Before you begin, please read the following instructions carefully.</h5>
                    <h5>It is recommended that you review all your answers before submitting them.</h5>
                    <br />
                </div>
            </div>
        </div>


        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    }

    else if (item.Topic == 4)
    {
        <div class="container">
            <div class="row">


                <div class="col-md-8">
                    <h2>Title: @item.Title</h2><br />
                    <h2>Topic: @item.TopicNavigation.Name</h2><br />
                    <h2>Test Duration: @item.Duration Minutes </h2><br />

                </div>

            </div>
        </div>




        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-12">

                <div>
                    <h5>Before you begin, please read the following instructions carefully.</h5>
                    <h5>It is recommended that you review all your answers before submitting them.</h5>
                    <br />
                </div>
            </div>
        </div>

        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        


    }




