@model Quiz

@{
    ViewBag.Title = "Update quiz!";
    ViewBag.Title2 = "Assign quiz!";
    var a = ViewData["listClass"] as List<Class>;
    var d = ViewData["commonClass"] as List<int>;
    int s = 1;
}

@section ScriptSection {


    <script>
        function ConfirmUpdate() {
            if (confirm("Are you sure you want to update?") == false) {
                event.preventDefault();
                event.stopPropagation();
                return false;

            }
        }

        function LoadQtnUpdateTable(topicId, quizId) {
            var url = "/Questions/GetQtnTableUpdate?topicId=" + topicId + "&quizId=" + quizId;
            $("#divUpdateQuestion").html("");
            $("#divUpdateQuestion").load(url);
        }
        $(document).ready(function () {
            var qzId = $("#QuizId").val();
            $("#QuestionSelect").change(function () {
                var topicId = $("#QuestionSelect").val();
                LoadQtnUpdateTable(topicId, qzId);
            });
            LoadQtnUpdateTable(-1, qzId);
        })

    </script>
}


@if (User.IsInRole("PartTimeTeacher"))
{
    <h2>@ViewData["Title2"]</h2>

}
else
{
    @ViewData["Title"]
}


<div class="row">
    <div class="col-sm-7">
        <span style="color:red">@ViewData["Msg"]</span><br />
        <div class="container">

            <form asp-controller="Quiz" asp-action="Update" method="post" class="form-horizontal" role="form">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label asp-for="QuizId" class="col-sm-3 control-label">Quiz Id:</label>
                        <div class="col-sm-6">
                            <input id="QuizId" asp-for="QuizId" class="form-control" readonly="readonly" />
                        </div>
                        <div class="has-error">
                            <span asp-validation-for="QuizId" class="text-danger"></span>
                        </div>
                    </div>

                    @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
                    {
                        <partial name="_Quiz" />
                        }

                    @if (User.IsInRole("PartTimeTeacher"))
                    {
                        <div style="display:none">
                            <partial name="_Quiz" />
                        </div>
                    }

                    <div>
                        <table class="table table-bordered table-condensed table-hover table-striped">
                            <tr>
                                <th>ClassId</th>
                                <th>Class Name</th>

                                <th>Assign To Class?</th>
                            </tr>


                            @foreach (var item in @a)

                            {
                        <tr>
                            <td>
                                @s
                            </td>
                            <td>
                                @item.Name
                            </td>
                            @if (d.Contains(item.ClassId))
                            {
                        <td>
                            <input name="@("currClassId" +s)" value="@item.ClassId" hidden="hidden" />
                            <input type="radio" id="rdOption3" value="@item.ClassId" name="@("AddClass" + s)" checked="checked" /> Yes
                            <input type="radio" id="rdOption4" value="-1" name="@("AddClass" + s)" /> No
                        </td> }
                                        else
                                        {
                        <td>
                            <input name="@("currClassId" +s)" value="@item.ClassId" hidden="hidden" />
                            <input type="radio" id="rdOption3" value="@item.ClassId" name="@("AddClass" + s)" /> Yes
                            <input type="radio" id="rdOption4" value="-1" name="@("AddClass" + s)" /> No
                        </td>}

                        </tr>
                                s++;
                            }

                        </table>

                    </div>

                    <div class="col-sm-6">
                        Question Topic:
                        <select id="QuestionSelect" name="QuestionSelect" asp-items="@((SelectList)ViewData["Topic"])" class="form-control">
                            <option value="-1">All</option>
                        </select>
                    </div>

                    <div id="divUpdateQuestion">
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-10">
                            <input type="submit" value="Update" class="btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>