@model List<Question>

@{
    ViewBag.Title = "View Questions";
    int x = 1;

}



<div class="row">
    <div class="col-6">
            <div class="form-horizontal">
                <input type="hidden" id="QuizId" name="QuizId" value="@ViewData["quizid"]" />@ViewData["quizid"]
                @foreach (var item in Model)
                {

                    <div class="form-group" id="@("testdiv" +x)">
                        <p>
                            Question @x: @item.Questions
                        </p>
                        <div class="col-12">
                            <input type="radio" id="rdOption1" value="@item.FirstOption" name="@("Answer" +x)" /> @item.FirstOption
                            <input type="radio" id="rdOption2" value="@item.SecondOption" name="@("Answer" +x)" /> @item.SecondOption
                            <input type="radio" id="rdOption3" value="@item.ThirdOption" name="@("Answer" +x)" /> @item.ThirdOption
                            <input type="radio" id="rdOption4" value="@item.FourthOption" name="@("Answer" +x)" /> @item.FourthOption
                        </div>



                    </div>
                    x++;
                    <br />
                }
            </div>
    </div>
</div>