@model List<Quiz>

@{ 
    var c = ViewData["common"] as List<int>;
    int f = 1;
}

<table class="table table-bordered table-condensed table-hover table-striped">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Topic</th>
        <th>Exam Level</th>
        <th>Exam Date</th>
        <th>Add To Quiz?</th>
    </tr>


    @foreach (var item in Model)

    {
        <tr>
            <td>
                @f
            </td>
            <td>
                @item.Title
            </td>
            <td>
                @item.Topic
            </td>
            <td>
                @item.Sec
            </td>
            <td>
                @item.StartDt
            </td>
            @if (c.Contains(item.QuizId))
            {
                <td>
                    <input type="radio" id="rdOption1" value="@item.QuizId" name="@("Add" +f)" checked="checked" /> Yes
                    <input type="radio" id="rdOption2" value="-1" name="@("Add" +f)" /> No
                </td>

            }
            else
            {
                <td>
                    <input type="radio" id="rdOption1" value="@item.QuizId" name="@("Add" +f)" /> Yes
                    <input type="radio" id="rdOption2" value="-1" name="@("Add" +f)" /> No
                </td>
            }

        </tr>
        f++;
    }

</table>